/* *{
    margin: 0px;
    padding: 0px;
} */
/* common file  */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-colour {
    color: #fd6e0a;
}

.primary-btn {
    border-radius: 5px;
    background: #fd6e0a;
    border: 0px;
    padding: 15px 35px;
    color: #fff;
    font-size: 25px;
}

/* header section  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: c;
    margin: 0px 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

nav h3 {
    font-size: 45px;
    font-weight: bolder;
}

.nav title {
    color: black;
    font-size: 45px;
    font-weight: 800;
}

/* header section style */
.header {
    background: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-profile {
    width: 500px;

}

.banner-start {
    color: #474747;
    margin-bottom: 0px;
    max-width: 177px;
    max-height: 61px;
    font-size: 45px;

}

.banner-main {
    color: #181818;
    margin-top: 5px;
    max-width: 499px;
    max-height: 116px;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-about {
    color: #181818;
    max-width: 585px;
    max-height: 60px;
}

/* main section sty  */

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {

    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
}

.about-des {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 827px;
    margin-top: 30px;
}

.about-info-main {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.about-info {
    text-align: center;
    color: #474747;

}

.info-title {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
}

.info-des {
    margin-bottom: 5px;
}

/* section  */
main section {
    margin-top: 130px;
}

section {}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-des {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 150px;
}

/* skill sec  */
.skill-content {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-des {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

/* resume sec  */
.section-title {
    text-align: center;

}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-contanier {
    display: flex;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-info {
    color: #757575;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.resume-item-des {
    color: #757575;
    font-size: 16px;l;
    font-weight: 400;
}
.resume-contanier hr{
    margin: 15px;
}
.downloadcv{
    text-align: center;
}